<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>admin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.zz.servlet.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.zz.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCategory</servlet-name>
    <servlet-class>com.zz.servlet.GetCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCategory</servlet-name>
    <url-pattern>/getCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProductUIServlet</servlet-name>
    <servlet-class>com.zz.servlet.EditProductUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductUIServlet</servlet-name>
    <url-pattern>/editProductUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductServlet</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>com.zz.servlet.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/editProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelProductServlet</display-name>
    <servlet-name>DelProductServlet</servlet-name>
    <servlet-class>com.zz.servlet.DelProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelProductServlet</servlet-name>
    <url-pattern>/delProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchProductServlet</display-name>
    <servlet-name>AdminSearchProductServlet</servlet-name>
    <servlet-class>com.zz.servlet.AdminSearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchProductServlet</servlet-name>
    <url-pattern>/adminSearchProduct</url-pattern>
  </servlet-mapping>
</web-app>